<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.buildingcompany.dao.IEquipmentDAO">

    <resultMap id="equipmentResultMap" type="org.example.buildingcompany.classes.Equipment">
        <result property="id" column="equipment_id"/>
        <result property="name" column="equipment_name"/>
        <result property="description" column="description"/>
        <result property="quantity" column="quantity"/>
        <result property="cost" column="cost"/>
        <association property="supplier" javaType="org.example.buildingcompany.classes.Supplier"
                     resultMap="org.example.buildingcompany.dao.ISupplierDAO.supplierResultMap"/>
    </resultMap>

    <select id="findById" resultMap="org.example.buildingcompany.dao.IEquipmentDAO.equipmentResultMap">
        select E.id as equipment_id,
        E.name as equipment_name,
        description,
        quantity,
        cost,
        S.id as suppliers_id,
        S.name as suppliers_name
        from equipment E join suppliers S on E.suppliers_id = S.id
        where E.id = #{id};
    </select>

    <insert id="insert" parameterType="org.example.buildingcompany.classes.Equipment">
        insert into equipment (name, description, quantity, cost, supplier_id)
        values(#{name}, #{description}, #{quantity}, #{cost}, #{supplier_id});
    </insert>

    <select id="findAll" resultType="org.example.buildingcompany.classes.Equipment">
        select * from equipment;
    </select>

    <update id="update" parameterType="org.example.buildingcompany.classes.Equipment">
        update equipment set name = #{name}, description = #{description}, quantity = #{quantity},
        cost = #{cost}, supplier_id = #{supplier_id}
        where id = #{id};
    </update>

    <delete id="delete" parameterType="org.example.buildingcompany.classes.Equipment">
        delete from equipment where id = #{id};
    </delete>
</mapper>